extends layout

block content
    #wrapper
        include nav
        .page-content
            .container
                h1.title
                    |404 This page is lost !!!
                a.back(href="/index")
                    |返回首页
        include footer
