//右边盗汗
.right-nav
  ul
    li#code
      svg.icon(aria-hidden="true")
        use(xlink:href="#icon-weixin")
      .code
        img(src="/images/code.jpg")
    li
      a(href="http://wpa.qq.com/msgrd?v=3&uin=2958191200&site=qq&menu=yes" target="_blank")
        svg.icon(aria-hidden="true")
          use(xlink:href="#icon-qq")
    li#phone
      svg.icon(aria-hidden="true")
        use(xlink:href="#icon-dianhua")
      .phone
        |158-1884-8247
      .phone.phone2
        |136-6898-4401
    li
      svg.icon(aria-hidden="true")
        use(xlink:href="#icon-haoyouliebiao")
    li#top
      |TOP
footer.footer-newsletter
      .container
        //- .footer-top
        //-   h4.footer-heading
        //-     |Subscribe to Our Newsletter
        //-   p.copytext
        //-     |Subscribe to the newsletter to get latest news and updates about our product.
        //-     br
        //-     |Preview the latest issue 
        //-     a(href="#")
        //-       | here
        //-   form.newsletter-form(method="post")
        //-     .input-group.input-group-lg
        //-       input(type="email" class="form-control" name="email" placeholder="youremail@domain.com")
        //-       span.input-group-btn
        //-         button.btn.btn-primary.subscribe(type="button")
        //-           i.fa.fa-spinner.fa-spin
        //-           span
        //-             |SUBSCRIBE
        //-       .alert
        .footer-bottom
          .left
            nav.clearfix
              ul.list-inline
                li
                  a(href="#")
                    |首页
                li
                  a(href="#")
                    |产品中心
                li
                  a(href="#")
                    |新闻资讯
                li
                  a(href="#")
                    |联系我们
                li
                  a(href="#")
                    |关于我们
                li
                  a(href="#")
                    |吐槽大会
            p.copyright-text
              |&copy;2017
              a(href="#" target="_blank")
                | 广州油麦菜信息科技有限公司
              |. All Rights Reserved.
          ul.right.list-inline.social-icons.social-icons-bordered.social-icons-small.social-icons-fullrounded
            li
              a(href="#")
                i.fa.fa-facebook
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-rss
            li
              a(href="#")
                i.fa.fa-youtube-play
            li
              a(href="#")
                i.fa.fa-linkedin