extends layout

block content
    #wrapper
        include nav
        .page-content
            .container
                .col-md-8.col-lg-9
                    section.no-padding-top
                        .entry-post.entry-post-fullwidth
                            figure.media
                                a(href="blog-single-post.html")
                                    img.img-responsive(src="/images/blog/blog-full-img.jpg" alt="Image Thumbnail")
                            .entry-content
                                .entry-header
                                    h2.entry-title
                                        a(href="blog-single.html")
                                            |Objectively Disseminate Customer Directed E-commerce
                                    .meta-line
                                        span.post-date
                                            i.fa.fa-calendar
                                            |Jan 14, 2016
                                        span.post-comment
                                            i.fa.fa-comments
                                            a(href="#") |35 Comments
                                .excerpt
                                    p 
                                        |Proactively reinvent team building customer service with ethical e-markets. 
                                        |Professionally utilize mission-critical technology whereas competitive solutions. 
                                        |Completely underwhelm go forward leadership without maintainable initiatives. Objectively 
                                        |disseminate customer directed e-commerce with prospective partnerships. Collaboratively 
                                        |actualize revolutionary total linkage before orthogonal catalysts for change. Appropriately 
                                        |facilitate optimal meta-services whereas end-to-end solutions...
                                    p.read-more
                                        a.read-more(href="#") Read More
                        .clearfix.margin-top-30.margin-bottom-30
                        .row
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                            .col-sm-6
                                .post-entry-card
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img3.jpg" alt="Post Thumbnail")
                                    .post-info
                                        h3.post-title
                                            a(href="#")
                                                |Enthusiastically disseminate resource
                                        p.post-excerpt
                                            |Appropriately productize extensive best practices vis-a-vis focused interfaces. 
                                            |Objectively extend compelling e-tailers rather ...
                                        span.post-meta
                                            i.fa.fa-calendar-o
                                            |Jan 13, 2016
                                        a.read-more.pull-right(href="#")
                                            |Read More
                    section.categorized-posts
                        h2.section-heading.pull-left
                            |CREATIVE
                        a.see-all-posts.pull-right(href="#")
                            |See all posts in Creative
                            i.fa.fa-long-arrow-right
                        .clearfix
                        .row
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img10.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img10.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img10.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img10.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies  
                    section.categorized-posts
                        h2.section-heading.pull-left
                            |POPULAR
                        a.see-all-posts.pull-right(href="#")
                            |See all posts in Popular
                            i.fa.fa-long-arrow-right
                        .clearfix
                        .row
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img6.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img6.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img6.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                            .col-sm-6.col-lg-3
                                .post-entry.post-entry-simple
                                    a(href="#")
                                        img.img-responsive(src="/images/blog/blog-med-img6.jpg" alt="Post Thumbnail")
                                    h3.post-title
                                        a(href="#")
                                            |Globally benchmark holistic ideas for technologies
                .col-md-4.col-lg-3
                    .sidebar
                        .widget
                            h4.sr-only SEARCH
                            form(method="post")
                                .input-group
                                    input.form-control(type="text" name="keyword" placeholder="ex: bootstrap theme")
                                    span.input-group-btn
                                        button.btn.btn-primary(type="button")
                                            span GO
                        .widget
                            h4.widget-title
                                |RECOMMENDED
                            ul.list-unstyled.recommended-posts
                                li
                                    .post-entry-sidebar.clearfix
                                        a.left(href="#")
                                            img(src="/images/blog/blog-home-img-sidebar1.png" alt="Post Thumbnail")
                                        .right
                                            h4.media-heading.post-title
                                                a(href="#")
                                                    |Appropriately incubate ethical innovation before client-based information
                                            span.timestamp
                                                |1h ago
                                li
                                    .post-entry-sidebar.clearfix
                                        a.left(href="#")
                                            img(src="/images/blog/blog-home-img-sidebar1.png" alt="Post Thumbnail")
                                        .right
                                            h4.media-heading.post-title
                                                a(href="#")
                                                    |Appropriately incubate ethical innovation before client-based information
                                            span.timestamp
                                                |1h ago
                                li
                                    .post-entry-sidebar.clearfix
                                        a.left(href="#")
                                            img(src="/images/blog/blog-home-img-sidebar1.png" alt="Post Thumbnail")
                                        .right
                                            h4.media-heading.post-title
                                                a(href="#")
                                                    |Appropriately incubate ethical innovation before client-based information
                                            span.timestamp
                                                |1h ago
                                li
                                    .post-entry-sidebar.clearfix
                                        a.left(href="#")
                                            img(src="/images/blog/blog-home-img-sidebar1.png" alt="Post Thumbnail")
                                        .right
                                            h4.media-heading.post-title
                                                a(href="#")
                                                    |Appropriately incubate ethical innovation before client-based information
                                            span.timestamp
                                                |1h ago
                                li
                                    .post-entry-sidebar.clearfix
                                        a.left(href="#")
                                            img(src="/images/blog/blog-home-img-sidebar1.png" alt="Post Thumbnail")
                                        .right
                                            h4.media-heading.post-title
                                                a(href="#")
                                                    |Appropriately incubate ethical innovation before client-based information
                                            span.timestamp
                                                |1h ago
                        .widget
                            h4.widget-title
                                |CATEGORIES
                            ul.list-unstyled.category-list
                                li
                                    a(href="#")
                                        |Business (23)
                                li
                                    a(href="#")
                                        |Creative (14)
                                    ul.list-unstyled.sub-category-list
                                        li
                                            a(href="#")
                                                |Digital Imaging (8)
                                        li  
                                            a(href="#")
                                                |Web Design (6)
                                li
                                    a(href="#")
                                        |Media (65)
                                li
                                    a(href="#")
                                        |Photography (17)
                                li
                                    a(href="#")
                                        |Corporate (9)
                        .widget
                            h4.widget-title
                                |WORKING TWITTER FEED
                                .section.twitter-stream
                                    #tweets
                        .widget
                            h3.widget-title
                                |TAGS
                            ul.list-inline.tag-list
                                li
                                    a(href="#")
                                        |story
                                li
                                    a(href="#")
                                        |inspiration
                                li
                                    a(href="#")
                                        |creative
                                li
                                    a(href="#")
                                        |e-commerce
                                li
                                    a(href="#")
                                        |statistic data
                                li
                                    a(href="#")
                                        |business
                                li
                                    a(href="#")
                                        |development
                                li
                                    a(href="#")
                                        |startup ideas
                                li
                                    a(href="#")
                                        |enterprise
        include footer
