extends layout

block content
  #wrapper
    include nav
    section.hero-unit.hero-fullwidth.fullwidth-image.hero-rotating-words
      .hero-content
        .container
          h2.heading
            |Multipurpose Bootstrap Theme
          p.lead
            |Made
            span#rotating-words.rotating-words
              |with love &amp; passion, for your next project, to save your time
          a.btn.btn-primary.btn-lg(href="#")
            |PURCHASE
          a.btn.btn-default.btn-lg(href="#")
            |LEARN MORE
    section.no-padding-bottom
      .container
        .row.icon-info-group
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_lifesaver.ico-styled-md
              h3.title
                |Free Support
              p
                |Dynamically productivate reliable action items without an expanded array.
              a.more(href="#")
                |Support Info
              i.fa.fa-angle-right
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_cloud-download_alt.ico-styled-md
              h3.title
                |Free Future Updates
              p
                |Dynamically productivate reliable action items without an expanded array.
              a.more(href="#")
                |Getting an Update
              i.fa.fa-angle-right
          .col-md-4
            .icon-info.icon-info-center
              i.icon.icon_question_alt2.ico-styled-md
              h3.title
                |Free Support
              p
                |Dynamically productivate reliable action items without an expanded array.
              a.more(href="#")
                |Ask a Question
              i.fa.fa-angle-right
    section
      .container
        h2.section-heading
          |Background Story
        p
          |Completely embrace transparent methods of empowerment before prospective partnerships. Holisticly
          |pontificate user-centric action items rather than worldwide supply chains. Dynamically reintermediate
          |backend core competencies whereas quality interfaces. Monotonectally engage unique internal or "organic" 
          |sources rather than virtual expertise. Uniquely develop parallel e-business with 24/7 relationships. Phosfluorescently 
          |synthesize innovative web services rather than cooperative.
        p
          |Proactively exploit focused paradigms rather than technically sound solutions. Professionally
          | recaptiualize emerging methods of empowerment with proactive bandwidth. Dramatically 
          | supply professional strategic theme.
    .copyrights
      |Collect from
      a(href="http://www.cssmoban.com/")
        |企业网站模板
    section
      .container
        h2.section-heading
          |What We Do
        .row
          .col-md-4
            .icon-info.icon-info-left
              i.icon.icon_gift.ico-styled-md.text-primary
              .text
                h2.title
                  |REVOLUTION SLIDER
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly
                  | predominate ubiquitous outsourcing through an expanded array of functionalities.
          .col-md-4
            .icon-info.icon-info-left
              i.icon.icon_heart_alt.ico-styled-md.text-primary
              .text
                h2.title
                  |BEAUTIFUL DESGIN
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly
                  | predominate ubiquitous outsourcing through an expanded array of functionalities.
          .col-md-4
            .icon-info.icon-info-left
              i.icon.icon_lightbulb.ico-styled-md.text-primary
              .text
                h2.title
                  |MULTIPURPOSE
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly
                  | predominate ubiquitous outsourcing through an expanded array of functionalities.
          .col-md-4
            .icon-info.icon-info-left.no-margin-bottom
              i.icon.icon_like.ico-styled-md.text-primary
              .text
                h2.title
                  |FREE UPDATES &amp; SUPPORT
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly
                  | predominate ubiquitous outsourcing through an expanded array of functionalities.
          .col-md-4
            .icon-info.icon-info-left.no-margin-bottom
              i.icon.icon_ul.ico-styled-md.text-primary
              .text
                h2.title
                  |TONS OF FEATURES
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate
                  | ubiquitous outsourcing through an expanded array of functionalities.
          .col-md-4
            .icon-info.icon-info-left.no-margin-bottom
              i.icon.icon_genius.ico-styled-md.text-primary
              .text
                h2.title
                  |FLEXIBLE &amp; EASY TO USE
                p
                  |Holisticly harness just in time technologies via corporate scenarios. Intrinsicly 
                  |predominate ubiquitous outsourcing through an expanded array of functionalities.
    section
      .container
        h2.section-heading
          |Pricing
        .row
          .col-md-3.col-sm-6.pricing-table
            .top
              h3.heading
                |Basic
              p.pricing
                |$25/mo
            .bottom
              ul.list-unstyled.list-details
                li
                  |5 GB upload quota
                li
                  |10 GB file storage
                li
                  |Up to 2 Mbps download speed
                li
                  |Unlimited bandwidth
                li
                  |Professional support
              a.btn.btn-default(href="#")
                |SUBSCRIBE
          .col-md-3.col-sm-6.pricing-table.pricing-recommended
            .top
              h3.heading
                |Premium
              p.pricing
                |$49/mo
            .bottom
              ul.list-unstyled.list-details
                li
                  |5 GB upload quota
                li
                  |10 GB file storage
                li
                  |Up to 2 Mbps download speed
                li
                  |Unlimited bandwidth
                li
                  |Professional support
              a.btn.btn-primary(href="#")
                |SUBSCRIBE
          .col-md-3.col-sm-6.pricing-table
            .top
              h3.heading
                |Pro
              p.pricing
                |$99/mo
            .bottom
              ul.list-unstyled.list-details
                li
                  |5 GB upload quota
                li
                  |10 GB file storage
                li
                  |Up to 2 Mbps download speed
                li
                  |Unlimited bandwidth
                li
                  |Professional support
              a.btn.btn-default(href="#")
                |SUBSCRIBE
          .col-md-3.col-sm-6.pricing-table
            .top
              h3.heading
                |Ultimate
              p.pricing
                |$150/mo
            .bottom
              ul.list-unstyled.list-details
                li
                  |5 GB upload quota
                li
                  |10 GB file storage
                li
                  |Up to 2 Mbps download speed
                li
                  |Unlimited bandwidth
                li
                  |Professional support
              a.btn.btn-default(href="#")
                |SUBSCRIBE
    section
      .container
        h2.sr-only
          |Testimonial
        #testimonial-standard-carousel.testimonial-carousel.testimonial-standard-carousel.owl-carousel
          .testimonial-standard
            p.content
              |"Now, this is cool! Kudos to the guys behind it."
            .author
              img.img-circle(src="images/testimonial-author2.png" alt="Avatar")
              span.name
                |Edward Freeman
              span.title.text-muted-2x
                |Front-end Freelancer
          .testimonial-standard
            p.content
              |"Now, this is cool! Kudos to the guys behind it."
            .author
              img.img-circle(src="images/testimonial-author3.png" alt="Avatar")
              span.name
                |Edward Freeman
              span.title.text-muted-2x
                |Front-end Freelancer
          .testimonial-standard
            p.content
              |"Now, this is cool! Kudos to the guys behind it."
            .author
              img.img-circle(src="images/testimonial-author4.png" alt="Avatar")
              span.name
                |Edward Freeman
              span.title.text-muted-2x
                |Front-end Freelancer
    section
      .container
        h2.sr-only
          |OUR CLIENTS
        p.text-center
          |For over 5 years, we have been trusted by big companies below
        ul.list-inline.list-logo
          li
            a(href="#")
              img(src="images/clients/logo1.png" alt="logo")
          li
            a(href="#")
              img(src="images/clients/logo2.png" alt="logo")
          li
            a(href="#")
              img(src="images/clients/logo3.png" alt="logo")
          li
            a(href="#")
              img(src="images/clients/logo4.png" alt="logo")
          li
            a(href="#")
              img(src="images/clients/logo5.png" alt="logo")
    include footer
