nav.navbar.navbar-default.navbar-fixed-top
      .container
        button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#main-nav-collapse")
          span.sr-only
            |Toggle Navigation
          i.fa.fa-bars
        a.navbar-brand(href="/index")
          img(src="/images/logo/logo.png" alt="Bravana Logo")
        #main-nav-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.main-navbar-nav
            li.dropdown.active
              a.dropdown-toggle(href="/" data-toggle="dropdown")
                |首页
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown")
                |案例展示
            li.dropdown
              a.dropdown-toggle(href="/news" data-toggle="dropdown")
                |行业动态
            li.dropdown
              a.dropdown-toggle(href="/info/aboutUs" data-toggle="dropdown")
                |关于我们
            li.dropdown
              a.dropdown-toggle(href="/info/contactUs" data-toggle="dropdown")
                |联系我们
            li.dropdown
              a(href="blog-single-post.html")
                |吐槽大会
            //li
              a.btn-navbar(href="#downloads/bravana-responsive-website-template/?utm_source=bravanalite&utm_medium=button&utm_campaign=bravana" target="_blank")
                span
                  i.fa.fa-rocket
                    |UPGRADE TO PRO