extends layout

block content
    #wrapper
        include nav
        #page-header-services.page-header.has-background-image
            .overlay
            .container
                h1.page-title
                    |行业动态
                ol.breadcrumb.link-accent
                    li
                        a(href="")
                            |首页
                    li
                        a(href="")
                            |行业动态
                    li
                        a(href="")
                            |新闻标题
        .page-content
            .container
                .col-md-8.col-lg-9
                    section.no-padding-top
                        .entry-post.entry-post-fullwidth
                            .entry-content
                                .entry-header
                                    h2.entry-title
                                        a(href="blog-single.html")
                                            |网页设计风格和色彩搭配经验
                                    .meta-line
                                        span.post-date
                                            i.fa.fa-calendar
                                            |2018-02-09
                                        span.post-comment
                                            i.fa.fa-envelope
                                            a(href="#"):油麦资讯
                                figure.media
                                    a(href="blog-single-post.html")
                                        img.img-responsive(src="/images/blog/blog-full-img.jpg" alt="Image Thumbnail")
                                .excerpt
                                    p 
                                        |Proactively reinvent team building customer service with ethical e-markets. 
                                        |Professionally utilize mission-critical technology whereas competitive solutions. 
                                        |Completely underwhelm go forward leadership without maintainable initiatives. Objectively 
                                        |disseminate customer directed e-commerce with prospective partnerships. Collaboratively 
                                        |actualize revolutionary total linkage before orthogonal catalysts for change. Appropriately 
                                        |facilitate optimal meta-services whereas end-to-end solutions...
                                    p.read-more
                                        a.read-more(href="#") Read More
                        .clearfix.margin-top-30.margin-bottom-30
                        
                .col-md-4.col-lg-3
                    .sidebar
                        .widget.aboutNew
                            h4.widget-title
                                |相关文章
                            ul.list-unstyled.recommended-posts
                                li
                                    |hello world
                                li
                                    |hello world
                                li
                                    |hello world
                                li
                                    |hello world
                                li
                                    |hello world
        include footer
